<h1>Admin::ProductStores#index</h1>
<p>Find me in app/views/admin/product_stores/index.html.erb</p>

<% @product_stores.each do |product_store| %>
    <%= product_store.product.name %>
    <br>
<% end %>

<%= link_to 'Add Product', new_admin_store_product_store_path(@store)%>
<%= link_to 'Back', admin_stores_path %>
