<%= form_for [:admin, @store, @product_store] do |f| %>
    <label>Product ID:</label>
    <%= f.select(:product_id, Product.all.collect {|a| [a.name, a.id]})%>
    <br>
    <label>Amount:</label>
    <%= f.text_field(:amount) %>
    <br>

    <%= f.submit 'Save' %>

<% end %>